@import url('https://fonts.googleapis.com/css2?family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html,
body,
#root {
	width: 100%;
	height: 100%;
  font-family: 'Scada', sans-serif;
}


$custom-colors: (
	'dark': rgba(34, 33, 40, 1),
  'gray5': #BDBDBD,
  'gray4': #8D8D8D,
  'gray6': #8a8a8ab6,
  'blue2': #5472D3,
  'blue3': #0055A6,
  'blue4':#25429E,
  'gray3': #4D4D4D,
  'main-gray': #707070,
  'main-blue': #0055A6,
  'gray2': #F5F5F5,
  'gray1': #EFEFEF,
);

@import '~bootstrap/scss/bootstrap.scss';

$theme-colors: map-merge($theme-colors, $custom-colors);

@each $color, $value in $custom-colors {
	.bg-#{$color} {
		background-color: $value;
		color: color-contrast($value);
	}
  .text-#{$color} {
    color: $value;
  }

  .border-#{$color} {
    --bs-border-color: #{$value};
  }
}

$selector-value: (
  "ps": "padding-left",
  "pe": "padding-right",
  "pt": "padding-top",
  "pb": "padding-bottom",
  "pr": "padding-right",
  "p": "padding",
  "w": "width",
  "h": "height",
  "ms": "margin-left",
  "me": "margin-right",
  "mt": "margin-top",
  "mb": "margin-bottom",
  "mr": "margin-right",
  "m": "margin",
  
);

@each $selector, $key in $selector-value {
  @each $value in (1, 2, 3, 4, 5, 6, 7, 8,9) {
    @each $scale in (1, 3, 4, 5, 6, 7, 8,9) {
      .#{$selector}-#{$value*$scale} {
        #{$key}: $value * $scale * 0.25rem!important;
      }
    }
  }
}

.h-12p {
  height: 12%;
}

.w-20p {
  width: 20%;
}

.w-80p {
   width: 80%;
}



.nav-link.active {
  background-color: #0055A6;
  color: white !important;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  padding-top: 0.8rem;
  border-radius: 0 0 2rem 2rem;
}
//

.bg-dark {
	display: block;
	position: relative;
	backdrop-filter: saturate(10px);
}

.posicion-ome{
  position: absolute;
}

.transitionRight {
  transform: translateX(-5rem);
  transition: all;
  transition: ease-in;
  transition-delay: 100ms;
  transition-duration: 600ms;
}
.transitionRight.active {
  transform: translateX(0);
}

.transitionLeft {
  transform: translateX(5rem);
  transition: all;
  transition: ease-in;
  transition-delay: 100ms;
  transition-duration: 600ms;
}
.transitionLeft.active {
  transform: translateX(0);
}

.transitionUp {
  transform: translateY(2rem);
  transition: all;
  transition: ease-in;
  transition-delay: 100ms;
  transition-duration: 600ms;
}
.transitionUp.active {
  transform: translateY(0);
}

.transitionDown {
  transform: translateY(-2rem);
  transition: all;
  transition: ease-in;
  transition-delay: 100ms;
  transition-duration: 600ms;

}
.transitionDown.active {
  transform: translateY(0);
}
.opacity {
  transition: opacity 0.5s;
  opacity: 0;
}
.opacity.active {
  opacity: 1;
  pointer-events:none;
}


.bg-red {
  background-color: red;
}

.border-transparent{
  border: #0055A6;
}

.btl {
  border-top-left-radius: 40px;
  border: solid 1px #EFEFEF;
  width: 100px;
  height: 100px;
}
.btr {
  border-top-right-radius: 40px;
  border: solid 1px #EFEFEF;
  width: 100px;
  height: 100px;
}
.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}

.subrayado {
  text-decoration: none;
}

.subrayado:hover{
  border-bottom: 1px solid;
}

.subrayado:focus{
  border-bottom: 1px solid;
}